In [33]:
import pandas as pd                                                  #Importem la llibreria pandas (pd).
dades = pd.read_csv('time_series_covid19_deaths_US.csv')  
                                   
dades = pd.DataFrame(dades)  

dades

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/7/20,10/8/20,10/9/20,10/10/20,10/11/20,10/12/20,10/13/20,10/14/20,10/15/20,10/16/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,27,28,28,28,28,28,28,28,28,28
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,56,64,64,65,65,65,65,66,66,67
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,7,9,9,9,9,9,9,9,9,9
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,10,12,12,12,12,12,12,13,13,13
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,16,16,16,16,16,16,16,23,23,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,84056039,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.589080,...,1,1,1,1,1,1,1,1,1,1
3336,84056041,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,...,2,2,2,2,2,2,2,2,2,2
3337,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.000000,0.000000,...,0,1,1,1,1,0,0,0,0,0
3338,84056043,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,...,6,6,6,6,6,6,7,7,7,7
3339,84056045,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,...,0,0,0,0,0,0,0,0,0,0

In [40]:
dades2=dades[dades["Province_State"] == "North Carolina"]

,Admin2,Province_State,Lat,Long_,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/7/20,10/8/20,10/9/20,10/10/20,10/11/20,10/12/20,10/13/20,10/14/20,10/15/20,10/16/20
1964,Alamance,North Carolina,36.043470,-79.399761,0,0,0,0,0,0,...,59,59,59,59,59,59,59,59,59,59
1965,Alexander,North Carolina,35.922380,-81.177519,0,0,0,0,0,0,...,8,8,8,8,8,8,8,8,9,9
1966,Alleghany,North Carolina,36.493609,-81.128570,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
1967,Anson,North Carolina,34.974032,-80.099533,0,0,0,0,0,0,...,6,6,6,6,6,6,8,8,8,8
1968,Ashe,North Carolina,36.432962,-81.498627,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061,Wayne,North Carolina,35.364381,-78.000273,0,0,0,0,0,0,...,73,73,74,74,74,74,74,75,76,76
2062,Wilkes,North Carolina,36.208413,-81.162329,0,0,0,0,0,0,...,35,35,35,35,35,35,36,36,36,36
2063,Wilson,North Carolina,35.706255,-77.917978,0,0,0,0,0,0,...,57,58,58,58,58,58,61,61,62,62
2064,Yadkin,North Carolina,36.162226,-80.662394,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
2065,Yancey,North Carolina,35.900792,-82.312372,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
dades = dades.drop(columns = ["UID", "iso2", "iso3", "code3", "FIPS", "Country_Region", "Population", "Combined_Key"])

In [3]:
dades

,Admin2,Province_State,Lat,Long_,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/7/20,10/8/20,10/9/20,10/10/20,10/11/20,10/12/20,10/13/20,10/14/20,10/15/20,10/16/20
0,Autauga,Alabama,32.539527,-86.644082,0,0,0,0,0,0,...,27,28,28,28,28,28,28,28,28,28
1,Baldwin,Alabama,30.727750,-87.722071,0,0,0,0,0,0,...,56,64,64,65,65,65,65,66,66,67
2,Barbour,Alabama,31.868263,-85.387129,0,0,0,0,0,0,...,7,9,9,9,9,9,9,9,9,9
3,Bibb,Alabama,32.996421,-87.125115,0,0,0,0,0,0,...,10,12,12,12,12,12,12,13,13,13
4,Blount,Alabama,33.982109,-86.567906,0,0,0,0,0,0,...,16,16,16,16,16,16,16,23,23,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,Teton,Wyoming,43.935225,-110.589080,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
3336,Uinta,Wyoming,41.287818,-110.547578,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
3337,Unassigned,Wyoming,0.000000,0.000000,0,0,0,0,0,0,...,0,1,1,1,1,0,0,0,0,0
3338,Washakie,Wyoming,43.904516,-107.680187,0,0,0,0,0,0,...,6,6,6,6,6,6,7,7,7,7
3339,Weston,Wyoming,43.839612,-104.567488,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# import pygame
import pygame

# initialize game engine
pygame.init()

window_width=700
window_height=700

animation_increment=10
clock_tick_rate=20

# Open a window
size = (900, 700)
screen = pygame.display.set_mode(size)

# Set title to the window
pygame.display.set_caption("Covid USA")

dead=False

clock = pygame.time.Clock()
background_image = pygame.image.load("NC.jpg").convert()

while(dead==False):
    background_image= pygame.transform.smoothscale(background_image, (900,700))
    
    for event in pygame.event.get():

        if event.type == pygame.MOUSEBUTTONUP:
            start = event.pos
            print("start",start)

        if event.type == pygame.QUIT:
            dead = True
    screen.blit(background_image, [0, 0])
    pygame.draw.circle(screen,(155,0,0),(890,250),(1))
    pygame.display.flip()
    pygame.display.update()
    clock.tick(clock_tick_rate)

start (73, 382)
start (103, 392)
start (128, 380)
start (130, 380)
start (159, 366)
start (189, 378)
start (215, 365)
start (242, 369)
start (268, 358)
start (301, 366)
start (331, 368)
start (327, 349)
start (362, 377)
start (386, 404)
start (386, 358)
start (424, 402)
start (427, 402)
start (414, 364)
start (445, 366)

In [ ]:
Alamance = []
Cherokee = [73, 382]
Clay = [103, 392]
Nacon = [130, 380]

In [44]:
pygame.quit()